<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.sinosoft.cisfrm.manage.resource"/>

    <!--
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.default.driverClass}"/>

        <property name="url" value="${jdbc.default.url}"/>
        <property name="username" value="${jdbc.default.username}"/>
        <property name="password" value="${jdbc.default.password}"/>

        <property name="initialSize" value="${jdbc.default.initialSize}"/>
        <property name="minIdle" value="${jdbc.default.minIdle}"/>
        <property name="maxActive" value="${jdbc.default.maxActive}"/>

        <property name="maxWait" value="${jdbc.default.maxWait}"/>

        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.default.timeBetweenEvictionRunsMillis}"/>

        <property name="minEvictableIdleTimeMillis" value="${jdbc.default.minEvictableIdleTimeMillis}"/>

        <property name="removeAbandoned" value="${jdbc.default.removeAbandoned}"/>
        <property name="removeAbandonedTimeout" value="${jdbc.default.removeAbandonedTimeout}"/>
        <property name="validationQuery" value="${jdbc.default.validationQuery}"/>
        <property name="testWhileIdle" value="${jdbc.default.testWhileIdle}"/>
        <property name="testOnBorrow" value="${jdbc.default.testOnBorrow}"/>
        <property name="testOnReturn" value="${jdbc.default.testOnReturn}"/>

        <property name="filters" value="${jdbc.default.filters}"/>
    </bean>
-->
</beans>