<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta charset="UTF-8">
    <title>机构管理</title>
    <link rel="stylesheet" href="../../styles/themes/metro-blue/easyui.css">
    <link rel="stylesheet" href="../../bower_components/jeasyui/themes/icon.css">
    <link rel="stylesheet" href="../../bower_components/jeasyui/themes/color.css">
    <link rel="stylesheet" href="../../styles/common.css">
</head>
<body class="easyui-layout">
<div region="east" title="查询参数" style="width: 350px;" split="true" data-options="collapsed:true">
    <table id="grid"></table>
    <div id="grid_toolbar">
        <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search" plain="true" id="search">搜索</a>
        <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-reload" plain="true" id="reset">重置</a>
    </div>
</div>
<div region="center">
    <table id="table"></table>
    <div id="table_toolbar">
        <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="add">添加</a>
        <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-edit" plain="true" id="edit">编辑</a>
        <a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-remove" plain="true" id="remove">删除</a>
    </div>
</div>
<div id="dialog" title="对话框" style="padding: 15px;">
    <form id="form" method="post" novalidate>
        <input type="hidden" name="moduleId">
        <div>
            <label>机构代码：</label>
            <input class="input_style" name="cpyCode" type="text" placeholder="" required>
        </div>
        <div class="seq-style"></div>
        <div>
            <label>机构名称：</label>
            <input class="input_style" name="cpyName" type="text" placeholder="" required>
        </div>
        <div class="seq-style"></div>
        <div>
            <label>机构类别：</label>
            <input class="input_style" name="cpytype1code" type="text" placeholder="" required>
        </div>
        <div class="seq-style"></div>
        <div>
            <label>公司类别：</label>
            <input class="input_style" name="cpytype2code" type="text" placeholder="" required>
        </div>
        <div class="seq-style"></div>
        <div>
            <label>资本结构：</label>
            <input class="input_style" name="cptltypecode" type="text" placeholder="" required>
        </div>
        <div class="seq-style"></div>
        <div>
            <label>是否虚拟：</label>
            <span>是:</span>
            <input type="radio" name="isVirtual" value="1"/>
            <span>否:</span>
            <input type="radio" name="isVirtual" value="0" checked="checked">
        </div>
        <div class="seq-style"></div>
        <div>
            <label>是否有效：</label>
            <span>是:</span>
            <input type="radio" checked="checked" name="validStatus" value="1"/>
            <span>否:</span>
            <input type="radio" name="validStatus" value="0">
        </div>
        <div id="buttons">
            <a class="easyui-linkbutton" id="submit" href="javascript:void(0)" iconCls="icon-ok">提交</a>
            <a class="easyui-linkbutton" id="cancel" href="javascript:void(0)" iconCls="icon-cancel">取消</a>
        </div>
    </form>
</div>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/jeasyui/jquery.easyui.min.js"></script>
<script src="../../bower_components/jeasyui/locale/easyui-lang-zh_CN.js"></script>
<script src="../../bower_components/json2/json2.js"></script>
<script src="../../scripts/manage/company.js"></script>
</body>
</html>