<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="configProperties"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:redis.properties</value>
                <value>classpath:password.properties</value>
                <value>classpath:jdbc.properties</value>
                <value>classpath:hibernate.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="UTF-8"/>
    </bean>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="configProperties"/>
    </bean>
    <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="packagesToScan" value="com.sinosoft.cisfrm"/>
    </bean>

    <context:component-scan base-package="com.sinosoft.cisfrm.**.component">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
    </context:component-scan>

    <import resource="spring-mvc.xml"/>
    <import resource="spring-database.xml"/>
    <import resource="spring-service.xml"/>
    <import resource="spring-shiro.xml"/>
    <import resource="spring-redis.xml"/>
    <import resource="spring-validator.xml"/>
</beans>